
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .footer {
    margin-top: auto;
  }
}

.app__content {
  position: relative;
  z-index: 3;
  &--layout {
    padding: 3em 0;
    @include media(m, $xl) {
      padding: 6.5em 0;
    };
  }
}