.section {
	&--fullpage {
		display: flex;
		flex-direction: column;
		.section__in {
			min-height: 100vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 5em 0;
		}
	}
}
.section__container {
  @extend .container-fluid;
}
.section__row {
  @extend .row;
}
.section__column {
  @extend .col;
}