// GLOBAL CONFIG VARIABLES
// ============================


:root {
	// font-family
  --font-family-default: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"';
  --font-family-primary: 'Zona Pro';
  --font-family-secondary: 'Open Sans';
	
	// relative font-size
  --font-size-root-base: 12px;
  --font-size-root-base-sm: 13px;
  --font-size-root-base-md: 13px;
  --font-size-root-base-lg: 14px;
  --font-size-root-base-xl: 15px;
  --font-size-root-base-xxl: 16px;
	
	// text font-size
  --font-size-text-default: 1rem;
  --font-size-text-base: 1rem;
  --font-size-text-primary: 1.125rem;
  --font-size-text-secondary: 0.875rem;
  --font-size-text-sub: 0.75rem;
  
	// title font-size
  --font-size-title-primary: 3rem;
  --font-size-title-secondary: 2.1875rem;
  --font-size-title-third: 1.5rem;
  --font-size-title-fourth: 1.3125rem;
  --font-size-title-fifth: 1.125rem;
  --font-size-title-sixth: 1rem;

	// Цвета текста
  --color-font-default: #000;
  --color-font-base: #000;
  --color-font-secondary: grey;
  --color-font-third: pink;
  --color-font-fourth: yellow;
  --color-font-fifth: blue;
  
	// цвета фона
  --background-color-default: #fff;
  --background-color-base: #000;
  --background-color-secondary: grey;
  --background-color-third: pink;
  --background-color-fourth: yellow;
  --background-color-fifth: blue;
  
	// цвета бордеров
  --border-color-default: #fff;
  --border-color-base: #000;
  --border-color-secondary: grey;
  --border-color-third: pink;
  --border-color-fourth: yellow;
  --border-color-fifth: blue;

	// цвета теней
  --box-shadow-color-base: #000;
  --box-shadow-color-secondary: grey;
  --box-shadow-color-third: pink;
  --box-shadow-color-fourth: yellow;
  --box-shadow-color-fifth: blue;

	// сетка
	--xs: 0;
	--sm: 576px;
	--md: 768px;
	--lg: 992px;
	--xl: 1200px;
	--xxl: 1400px;
  --container-width-default: 1400px;
  --container-width-primary: 1680px;
  --container-width-secondary: 1820px;
  --row-indents: -15px;
  --column-indents: 15px;
	
}


// ============================
// ============================