$xs: 0;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;
$xxl: 1370;
$xxl: 1655;


@mixin media($screen, $value) {
	@if($screen == 'm') {
		@media only screen and(min-width: $value + 'px') {
			@content;
		}
	} 
	@if($screen == 'd') {
		@media only screen and(max-width: $value - 1 + 'px') {
			@content;
		}
	}
}