html {
  font-size: var(--font-size-root-base);
  @include media(m, $sm) {
    font-size: var(--font-size-root-base-sm);
  };
  @include media(m, $md) {
    font-size: var(--font-size-root-base-md);
  };
  @include media(m, $lg) {
    font-size: var(--font-size-root-base-lg);
  };
  @include media(m, $xl) {
    font-size: var(--font-size-root-base-xl);
  };
  @include media(m, $xxl) {
    font-size: var(--font-size-root-base-xxl);
  };
}

body {
  font-size: var(--font-size-text-default);
  line-height: 1.5;
  font-weight: 400;
  font-family: var(--font-family-primary), var(--font-family-default) sans-serif;
  background-color: var(--background-color-default);
  color: var(--color-font-default);
  &.scroll-hidden {
    overflow: hidden;
    padding-right: 17px;
  }
}
